.langName{
    margin-bottom: 0;
}
.hljs{
    margin-top: 0;
}
.blog_section{
    padding: 0;
}
.blog_header h1{
    font-size: 150%;
    margin: 0%;
    padding: 5px;
    border-bottom: 1px solid lightgray;
    grid-column: 1/3;
}
.blog_header{
    padding: 5px;
    box-shadow: 0 0 8px 8px rgba(211,211,211,0.3);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.blog_header span{
    padding: 5px;
    font-size: smaller;
    align-self: center;
}
.blog_header span:last-child{
    justify-self: right;
}
.content{
    padding: 10px;
    box-shadow: 0 0 8px 8px rgba(211,211,211,0.3);
    margin-top: 15px;
}