<div class="blog_box">
    <section class="blog_section">
        <% lists.map(list => {%>
            <article class="blog_page" onclick="fetchsection('./blog/<%=list.path %>', '.blog_section')">
                    <div class="tag"><%=list.tag %></div>
                    <div class="day"><%=list.date %></div>
                    <h1><%=list.title %></h1>
                    <div class="content"><%=list.desc %></div>
            </article>
        <% }) %>
    </section>
    <aside>
        <h1>Category</h1>
        <ul>
            <li><a onclick="fetchsection('web/blog', '.conbert')">All</a></li>
        </ul>
    </aside>
</div>