@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 40px;
    overflow: hidden;
    font-family: 'SEBANG_Gothic_Regular';
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

header h1{
    padding-left: 20px;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    grid-column: 1/3;
}
#togle{
    display: none;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: end;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    cursor: pointer;
}
#togle div{
    height: 5px;
    width: 30px;
    margin-bottom: 5px;
    background-color: black;
}

#togle :last-child{
    margin-bottom: 0;
}

a{
    text-decoration: none;   
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}
nav a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav li:hover{
    background-color: gray;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav a:active{
    background-color: black;
    color:  white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav{
    list-style: none;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: solid gray 1px;
    border-top: solid gray 1px;
    grid-row: 2;
    display: flex;
}
li{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 130px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#time{
    font-weight: bold;
    font-size: 150%;
    text-align: left;
    width: 230px;
    justify-self: end;
    margin-bottom: 10px;
    align-self: end;
}

@media screen and (max-width: 720px) {
    #time{
        display: none;
    }
    nav{
        display: none;
        justify-content: center;
    }
    ul{
        flex-direction: column;
    }
    #togle{
        display: block;
    }
    nav.active{
        display: flex;
    }
}

@media screen and (max-width: 360px) {

}